<nav class="navbar bg-base-100 shadow-lg sticky top-0 z-50 px-4 lg:px-8 border-b border-base-200">
  <!-- Navbar Start: Logo & Mobile Menu -->
  <div class="navbar-start">
    <!-- Mobile menu button -->
    <div class="dropdown lg:hidden">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-60">
        <li><a href="/">Kezdőlap</a></li>
        <li><a href="/services">Szolgáltatások</a></li>
        <li><a href="/products">Termékek</a></li>
        <li><a href="/about">Rólunk</a></li>
        <li><a href="/contact">Kapcsolat</a></li>
        <li class="mt-2"><a href="/book-appointment" class="btn btn-primary btn-block">Időpontfoglalás</a></li>
      </ul>
    </div>
    <!-- Logo -->
    <a href="/" class="btn btn-ghost normal-case text-xl">Arató Optika</a>
  </div>
  <!-- Navbar Center: Desktop Menu -->
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/services" class="btn btn-ghost">Szolgáltatásaink</a></li>
      <li><a href="/products" class="btn btn-ghost">Összes Termékünk</a></li>
      <li><a href="/about" class="btn btn-ghost">Magunkról</a></li>
      <li><a href="/contact" class="btn btn-ghost">Kapcsolat</a></li>
    </ul>
  </div>
</nav>