---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="hu" data-theme="arato">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover"
		/>
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta
			name="apple-mobile-web-app-status-bar-style"
			content="black-translucent"
		/>
		<meta name="theme-color" content="#ffffff" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="icon" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title} | Arató Optika</title>
	</head>
	<body class="min-h-screen flex flex-col bg-base-100 text-neutral">
		<Navbar />
		<main class="flex-1">
			<slot />
		</main>
		<Footer />
		<!-- Cal floating-popup embed code begins -->
		<script type="text/javascript">
			(function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
			Cal("init", "optometriai", {origin:"https://cal.com"});
			Cal.ns.optometriai("floatingButton", {"calLink":"arato-optika","config":{"layout":"month_view"},"buttonText":"Időpontfoglalás","hideButtonIcon":true}); 
			Cal.ns.optometriai("ui", {"hideEventTypeDetails":false,"layout":"month_view"});
		</script>
	<!-- Cal floating-popup embed code ends -->
	</body>
</html>
